html,
body {
    margin: 0;
    padding: 0;
}

/* 
justify content is horizontal alignment
align items is vertical

*/

@font-face {
    font-family: arista-light;
    src: url('/font/Arista-Pro-Light-trial.ttf');

}

/* https://htmlcolorcodes.com/colors/dark-green/ */
.main-header {
    background-color: #FFFC00;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 10px 10px 0 rgba(0, 0, 0, 0.12);
    padding-bottom: 1200px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed; /* this makes the header follow us  */
    /* https://stackoverflow.com/questions/63405967/how-do-you-add-a-shadow-underneath-a-header-that-is-gray-and-blurry-in-css */
}

.title-button {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-size: 70px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    margin-left: 190px;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title {
    color: black;
    margin-top: auto;
    text-align: center;
    font-family: arista-light;
    padding-top: 35px;
    padding-left: 150px;
    font-size: 70px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    gap: 20px;
}

.logo-icon {
    height: 90px;
    margin-right: 20px;
    margin-top: 20px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    font-family: arista-light;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 20px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 10px;
}

a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-out;
    transform: translateX(-50%);
}

 a:hover:before {
    width: 100%;
    left: 0;
    transform: translateX(0%);
}

