html,
body {
    margin: 0;
    padding: 0;
}

/* 
justify content is horizontal alignment
align items is vertical

*/

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: arista-light;
    src: url('/font/Arista-Pro-Light-trial.ttf');
}

@font-face {
    font-family: arista-bold;
    src: url('/font/Arista-Pro-Bold-trial.ttf')
}

/* https://htmlcolorcodes.com/colors/dark-green/ */
.main-header {
    background-color: white;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 10px 10px 0 rgba(0, 0, 0, 0.12);    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    position: fixed; /* this makes the header follow us  */
    /* https://stackoverflow.com/questions/63405967/how-do-you-add-a-shadow-underneath-a-header-that-is-gray-and-blurry-in-css */
}

.title-button {
    background: none;
    border: none;
    color: inherit;
    font-family: arista-bold;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-size: 95px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    margin-left: 190px;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.title {
    color: black;
    margin-top: auto;
    text-align: center;
    font-family: arista-light;
    padding-top: 35px;
    padding-left: 150px;
    font-size: 70px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icons .shopping-cart-icon {
    size: 150%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    gap: 20px;
}

.header-icons button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

/* TEMPORARY HOLDER FOR SHOPPING CART ADD ON LATER ON SHOPPINGCART SHOPPING CART SHOPPING-CART */
.cart-sidebar {
    position: fixed;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #FFF;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease-in-out;
    z-index: 100; /* make sure its on top of everything else */
}

.cart-sidebar.active {
    right: 0;
}

.cart-items, .cart-summary {
    padding: 20px;
}

.cart-summary {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cart-items {
    font-family: "MrGeorge", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cart-item {
    margin-bottom: 2px;
}

/* input box styling */
.cart-item input[type='number'] {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    width: 60px;
    text-align: center;
}

/* style input when interacted with */
.cart-item input[type='number']:focus {
    outline: none;
    border-color: #80BDFF;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.1);
}

.close-cart-btn {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    width: 100px;
    text-align: center;
}

.close-cart-btn:hover {
    outline: none;
    border-color: #80BDFF;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.1);
}

.cart-summary {
    font-family: "MrGeorge", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.cart-header {
    font-family: arista-bold;
    text-align: center;
    font-size: 28px;
    color: darkgreen;
}

.cart-total {
    font-family: "MrGeorge", sans-serif;
    font-style: bold;
}

.remove-from-cart-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.remove-from-cart-btn img {
    width: 20px;
    height: auto;
    margin-left: 10px;
    transform: translateY(3px);
}

.logo-icon {
    height: 90px;
    margin-right: 20px;
    margin-top: 20px;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    font-family: arista-light;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 20px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 10px;
}

a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.25s ease-out;
    transform: translateX(-50%);
}

 a:hover:before {
    width: 100%;
    left: 0;
    transform: translateX(0%);
}

.banner {
    width: 100%;
    position: relative;
    margin-top: 150px;
    z-index: 1;
    
}

.table-banner {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.9;
    
}

.banner-text {
    position: absolute;
    font-family: arista-light;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    z-index: 2;
    text-align: center;
    font-weight: bold
    
}

#home {
    scroll-margin-top: 200px;
}

.highlight {
    color: yellowgreen;
    display: inline;
    position: relative;
}

.highlight:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    
}

.highlight:hover:before {
    transform: scaleX(1);
}

#about {
    scroll-margin-top: 260px;
}

.about-us {
    font-family: arista-bold;
    font-size: 70px;
    color: darkgreen;
    margin-inline: 100px;
    display: block;
    text-align: center;
    margin-top: 75px;
}

.about-picture {
    margin-top: 100px;
    margin-left: 100px;
    width: 30%;
    max-height: 400px;
    object-fit: cover;
    display: block;
    /* https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border-radius: 2em;
}

.about-subsection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 200px;
    margin-bottom: 210px;
}

.about-text {
    margin-left: 100px;
    font-family: arista-light;
    font-size: 30px;
    text-align: left;
    line-height: 1.4;
    background: white;
    padding: 20px;
    border-radius: 1em;
    max-width: 600px;
    width: 100%;
    position: relative;
    margin-top: 110px;
}

#products {
    scroll-margin-top: 185px;
}

.products-header {
    font-family: arista-bold;
    font-size: 70px;
    color: black;
    display: block;
    text-align: center;
    margin-top: 75px;
    padding: 50px; 
    background: #FCE0A4;
    
}

.filter {
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
}
/* custom checkbox */
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */ 
.filter-categories {
    font-size: 24px;
    font-family: 'MrGeorge', sans-serif;
    display: block;
    position: relative;
    margin-bottom: 12px;
}

/* Base style for the label that will contain the checkbox */
.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 35px; /* Space for the custom checkbox */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 24px;
    user-select: none; /* Prevents text selection */
    line-height: 25px; /* Aligns text vertically */
    width: auto;
}

/* hide default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    z-index: 1; /* Ensures the label is clickable */
}

/* style for the custom checkbox */
.custom-checkbox .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #EEE;
    border-radius: 4px; /* Rounded corners */
    transition: transform 0.2s, background-color 0.2s; /* Smooth transitions */
    z-index: 0;
}

/* hover effect for the custom checkbox */
.custom-checkbox:hover .checkbox {
    background-color: #CCC;
    transform: scale(1.1); /* Slightly increase the size */
}

/* checkmark style when the checkbox is checked */
.custom-checkbox input:checked ~ .checkbox:after {
    content: "";
    position: absolute;
    display: block;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* change background color when checked */
.custom-checkbox input:checked ~ .checkbox {
    background-color: #2196F3; /* Blue background */
}

.sort {
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
    align-items: center;
}

.sort h3 {
    margin-bottom: 5px;
}

.sort-menu select {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #EEE;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-color: #EEE;
    transition: background-color 0.2s, transform 0.2s;
    margin-right: 70px;
}

.sort-menu select:hover {
    transform: scale(1.02);
}

.sort-menu select:focus {
    border-color: #2196F3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 3 items in a row */
    grid-gap: 30px;
    row-gap: 50px;  
    max-width: 1200px;
    margin: 0 auto;
    
}

.product-item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Utilize available space between items */
    border: 1px solid #FFFEFE;
    padding: 10px;
    gap: 20px;
    text-align: center;
    font-family: 'MrGeorge', sans-serif;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    font-size: 55px; /* You might want to adjust this font size */
    /* Removed margin-right and padding-top from your original styles for better alignment */
    height: 100%; /* Ensure the item takes full available height */
}


.product-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px; /* space between image and text below */
}

.product-name-price .product-name {
    font-size: 24px;
}

.product-name-price .product-price {
    font-size: 24px;
}

.product-price {
    display: inline-block;
    position: relative;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.product-price:after {
    content:'';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: black;
    transition: width 0.3s;
}

.product-price:hover:after {
    width: 100%;
}

.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #f0c14b;
    border: 1px solid #a88734 #9c7e31 #846a29;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    /* Ensure there's no conflicting margin or padding that might push the button */
}

.add-to-cart-btn:hover {
    background-color: #E6AF4B;
}




